KETTLE_IP=###.###.###.###
KETTLE_TOKEN=#################
BOT_TOKEN=#################
ADMIN_ID=None # айди пользователей (через запятую) которым отвечает тг бот. None - отвечает всем
API_BASE_URL=http://127.0.0.1:8000 #для примера
KETTLE_USERNAME=########
KETTLE_PASSWORD=#####################
JWT_SECRET=change
PROXY_URL=http://127.0.0.1:10809 # прокси для тг-бота (например xray: http://127.0.0.1:10809). None - без прокси.