KETTLE_IP=###.###.###.###
KETTLE_TOKEN=#################
BOT_TOKEN=#################
API_BASE_URL=http://127.0.0.1:8000 #for example
KETTLE_USERNAME=########
KETTLE_PASSWORD=#####################
JWT_SECRET=###################################